header {
  background-color: #DCDDFF; }
  header ul li {
    font-family: 'Glass Antiqua';
    font-size: 20px;
    box-shadow: 1rem whitesmoke;
    justify-content: space-around; }

header nav ul li:hoover {
  transform: scale(1.2rem);
  background-color: #b8baf8; }
