*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
@mixin Titulo{
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Glass Antiqua';
}
@mixin Parrafos{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    text-align: center;
    margin: 0 auto;
}
   header{
    
    div{
        nav{
            div{
              ul{
                    margin-right: 3rem;
                li{
                    text-transform: uppercase; 
                    font-family: 'Glass Antiqua';
                    color:#bbbcf0;
                    font-size: 20px;
                    box-shadow: 1rem whitesmoke;
                    justify-content:space-around;
                    .nav-item{
                        padding: 0px 12px;
                        border-radius: 3px;
                    }
                    .nav-item:hover{
                        background-color: #DCDDFF;
                        transition: 0.5s;
                    }
                }
            }
        }
}
}
}
main{
    max-width: 100%;
    div{
        text-align: center;
    .estilos-lista{
        @include Parrafos;
        align-items: center;
        }
    div{
        border: 20px black;

        .Log-sdesc{
            animation:infinite;
        }
    }
        .redes-txt{
            max-width: 100%;
            background-color: whitesmoke;
            text-align: center;
            font-family: 'Alegreya Sans SC', sans-serif;
            font-size: large;
            color: #bbbcf0;
        }
        .estilos-lista{
                @include Parrafos;
                list-style: none;
        }
        section{
            max-width: 100%;
        .redes--{
            max-width: 100%;
        }
        .img-redes{
            display: flex;
            padding-left: 2rem;
            background-color: whitesmoke;
            
        }
        .redes{
            max-width: 100%;
            width: 120px;
            height: 120px;
            margin: 2 0 2 0;
             }
        
    }
}
        footer{
            size: 100%;
            font-size: medium;
            text-align: center;
            color:white;
        }
}

/*Media Query*/
@media only screen and (min-width:600px)
{
    header{
            ul{
                margin-right: 1rem;
             li{
              font-family: 'Glass Antiqua';
              font-size: 25px;
              box-shadow: 1rem $color-principal;
              justify-content: space-around;
              background-position: 0% 100%;
              background-repeat: no-repeat;
              background-size: 05 2%;
              transition: background-size 0.3s;
                }
               }
            }
            header ul li:hover{
                transform: scale(1.2rem);
            }
}
main{
    text-align: center;
    ul{
        li{
            text-align: center;
            align-items: center;
        }
    }
    div{
        max-width: 100%;
    .Log-sdesc{
        max-width: 100%;
        animation: infinite;
        background-color: white;
        }
    }
    section{
    .redes-txt{
        max-width: 100%;
        background-color: whitesmoke;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: large;
        color: #bbbcf0;
    }
    .img-redes{
        max-width: 100%;
        background-color: whitesmoke;
        align-items: center;
        justify-items: auto;
    }
}
}


