// Estilos generales
// variables
$color-principal: #bbbcf0;
$color-fondo: #DCDDFF;

@mixin Titulo{
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Glass Antiqua';
}
@mixin Parrafos{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    text-align: center;
    
}    
header{
    div{
        nav{
            div{
              ul{
                    margin-right: 3rem;
                li{
                    font-family: 'Glass Antiqua';
                    font-size: 20px;
                    box-shadow: 1rem whitesmoke;
                    justify-content:space-around;
                    .nav-item{
                        padding: 0px 12px;
                        border-radius: 3px;
                    }
                    .nav-item:hover{
                        background-color: #DCDDFF;
                        transition: 0.5s;
                    }
            }
        }
}
}
}
}
main{
    background-color: $color-principal;
    div{ @include Titulo;
        font-size: 22px;
        max-width: 80%
    }
    .estilos-p{
        @include Parrafos;
        max-width: 60%;
        height: fit-content;
        padding: 0% 25%;
                }
    .Log-sdesc{
        animation-duration: infinite;

    }
    .redes-txt{
        max-width: 100%;
        background-color: whitesmoke;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: large;
        color: #bbbcf0;
    }
    .img-redes{
        max-width: 100%;
        background-color: whitesmoke;
        align-items: center;
        justify-items: auto;
    }
    main div{
        .estilos-lista{
            @include Parrafos;
            list-style: none;
    }
    }

}
    footer{
        size: 100%;
        font-size: medium;
        text-align: left;
        color: #bbbcf0;
    }
/*Media Query*/
@media only screen and (min-width:600px)
{
    header{
            ul{
            margin-right: 1rem;
             li{
              font-family: 'Glass Antiqua';
              font-size: 25px;
              box-shadow: 1rem $color-principal;
              justify-content: space-around;
              background-position: 0% 100%;
              background-repeat: no-repeat;
              background-size: 05 2%;
              transition: background-size 0.3s;
                }
               }
            }
}


main{
    background-color: $color-principal;
    div{ @include Titulo;
        font-size: 28px;
        padding: 3rem;
    }
    .Log-sdesc{
        background-color: white;
    }
    .Log-sdesc:hover{
        animation: shakeX 10s;
    }
   
}
footer{
    size: 100%;
    font-size: large;
    text-align: center;
    color: #bbbcf0;
}
.estilos-lista{
        @include Parrafos;
         list-style: none;
         list-style-type: none;
}

